body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 15px -3px #000000;
}